<html>

<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="css/roboto.min.css" rel="stylesheet">
    <link href="css/material.min.css" rel="stylesheet">
    <link href="css/ripples.min.css" rel="stylesheet">

    <style type="text/css">
     /* Sticky footer styles
     -------------------------------------------------- */
     html {
      position: relative;
      min-height: 100%;
  }
  body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
  }
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
  }


/* Custom page CSS
-------------------------------------------------- */
.yelBg{

    background-color: rgb(255, 152, 0);
    color:white;
}
.grnBg{
    background-color: rgb(76, 175, 80);
    color:white;
}


.redBg{
    background-color: #F44336;
    color:white;
}

.classWithPad { margin:5px; padding:10px; }
.iconFont{
    font-size:60px;
    text-align: center;

}

  .btn-circle.btn-xl {
                border-radius: 50px;
                font-size: 24px;
                height: 100px;
                line-height: 1.33;
                padding: 10px 16px;
                width: 100px;
            }

</style>



</head>

<body>

 <div class="navbar navbar-material-blue">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
         <a class="navbar-brand" href="home">GARFIELD</a>
                    <img width="80" height="50" alt="server" src="../dist/img/garfieldcat.png">
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li><a href="reg">NEW APP</a></li>

        </ul>
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="APP NAME">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">LOG OUT</a></li>
       <!--      <li class="dropdown">
                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<!--     <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
  </div> -->

   

  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <div class="redBg panel panel-material-red redBg">
            <div class="panel-body panel-body-material-red ">
             <div align="center" class="row">
               <div align="center" class="col-md-2">

                   <i class="fa mdi-action-dns iconFont"></i>

                   <div ><H3>AVATAR</H3></div>
               </div>

               <div class="col-md-1 classWithPad shadow-z-1">
                <h4>20</h4>
                <h4>m1.Large</h4>
            </div>
            <div class="col-md-1 classWithPad shadow-z-1">
                <h4>5</h4>
                <h4>HAProxy</h4>
            </div>
            <div class="col-md-1 classWithPad shadow-z-1">
            <h4>3</h4>
                <h4>ELB</h4>
           </div>
           <div class="col-md-2">
               <div id="chartcpu_div" style="width: 200px; height: 120px;"></div>
           </div>
           <div class="col-md-2">
               <div id="chartmem_div" style="width: 200px; height: 120px;"></div>
           </div>
           <div class="col-md-2">

            <a href="release" class="btn btn-primary btn-raised">release</a>
            <a href="scale" class="btn btn-success btn-raised">&nbsp;&nbsp;SCALE &nbsp;&nbsp;</a>
            <a href="kpi" class="btn btn-info btn-raised">&nbsp;&nbsp;MORE &nbsp;&nbsp;</a>
        </div>
    </div>
</div>


</div>
</div>

<div class="row">
  <div class="yelBg panel panel-material-red ">
    <div class="panel-body panel-body-material-red ">
     <div align="center" class="row">
       <div align="center" class="col-md-2 ">
         <i class="fa mdi-action-dns iconFont"></i>

         <div align="center"><H3>DRAGON</H3></div>
     </div>
     <div class="col-md-1 classWithPad shadow-z-1">
        <h4>32</h4>
        <h4>C1.Large</h4>
    </div>
    <div class="col-md-1 classWithPad shadow-z-1">
        <h4>5</h4>
        <h4>HAProxy</h4>
    </div>
    <div class="col-md-1 classWithPad shadow-z-1">
  <h4>3</h4>
                <h4>ELB</h4>
           
   </div>
   <div class="col-md-2 ">
       <div id="chartcpu1_div" style="width: 200px; height: 120px;"></div>
   </div>
   <div class="col-md-2">
       <div id="chartmem1_div" style="width: 200px; height: 120px;"></div>
   </div>
   <div class="col-md-2">

    <a href="release" class="btn btn-primary btn-raised">release</a>
    <a href="scale" class="btn btn-success btn-raised">&nbsp;&nbsp;SCALE &nbsp;&nbsp;</a>
    <a href="kpi" class="btn btn-info btn-raised">&nbsp;&nbsp;MORE &nbsp;&nbsp;</a>
</div>
</div>
</div>
</div>


</div>
<!-- <div class="row">
  <div class="grnBg panel panel-material-red ">
    <div class="panel-body panel-body-material-red ">
     <div class="row">
       <div class="col-md-4">
           <h3>PORTELLO</h3>
       </div>
       <div class="col-md-4">
           m1.large
       </div>
       <div class="col-md-4">
           PORTELLO
       </div>
   </div>
</div>


</div>
</div> -->
<hr>


</div> <!-- /container -->
<footer class="footer" style="background-color: #E6E6E6;">
  <div class="container">
    <p class="text-muted">&copy; Pearson 2015, Version 1.0.0.6</p>
</div>
</footer>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script src="js/ripples.min.js"></script>
<script src="js/material.min.js"></script>
<script>
    $(document).ready(function() {
                // This command is used to initialize some elements and make them work properly
                $.material.init();
            });


</script>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var datac = google.visualization.arrayToDataTable([
      ['Month', 'Sales', 'Expenses'],
      ['APR',  5,      7],
      ['MAY',  6,      10],
      ['JUNE',  4,       5],
      ['JULY',  11,      20],
       ['AUG',  20,      18],
        ['SEP',  16,      18]
      ]);

 var datam = google.visualization.arrayToDataTable([
      ['Month', 'Sales', 'Expenses'],
      ['APR',  20,      14],
      ['MAY',  10,      10],
      ['JUNE',  25,       18],
      ['JULY',  17,      20],
       ['AUG',  30,      30],
        ['SEP',  20,      18]
      ]);
    var optionscpu = {
      title: 'CPU',
      hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0},
      backgroundColor: '#F44336',
      hAxis:{

         textStyle:{ color:'white' }
     },
     vAxis:{

         textStyle:{ color:'white' }
     },
     titleTextStyle:{ color:'white' }
 };

 var optionsmem = {
  title: 'MEMORY',
  hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
  vAxis: {minValue: 0},
  backgroundColor: '#F44336',
  hAxis:{

     textStyle:{ color:'white' }
 },
 vAxis:{

     textStyle:{ color:'white' }
 },
 titleTextStyle:{ color:'white' }
};

var chartcpu = new google.visualization.AreaChart(document.getElementById('chartcpu_div'));
chartcpu.draw(datac, optionscpu);

var chartmem = new google.visualization.AreaChart(document.getElementById('chartmem_div'));
chartmem.draw(datam, optionsmem);


  var datac1 = google.visualization.arrayToDataTable([
      ['Month', 'Sales', 'Expenses'],
      ['APR',  5,      10],
      ['MAY',  8,      10],
      ['JUNE',  4,       5],
      ['JULY',  14,      23],
       ['AUG',  6,      28],
        ['SEP',  18,      18]
      ]);

 var datam1 = google.visualization.arrayToDataTable([
      ['Month', 'Sales', 'Expenses'],
      ['APR',  20,      14],
      ['MAY',  10,      10],
      ['JUNE',  25,       18],
      ['JULY',  17,      20],
       ['AUG',  30,      30],
        ['SEP',  20,      18]
      ]);

var options1cpu = {
  title: 'CPU',
  hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
  vAxis: {minValue: 0},
  backgroundColor: 'rgb(255, 152, 0)',
  hAxis:{

     textStyle:{ color:'white' }
 },
 vAxis:{

     textStyle:{ color:'white' }
 },
 titleTextStyle:{ color:'white' }
};

var options1mem = {
  title: 'MEMORY',
  hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
  vAxis: {minValue: 0},
  backgroundColor: 'rgb(255, 152, 0)',
  hAxis:{

     textStyle:{ color:'white' }
 },
 vAxis:{

     textStyle:{ color:'white' }
 },
 titleTextStyle:{ color:'white' }
};


var chartcpu1 = new google.visualization.AreaChart(document.getElementById('chartcpu1_div'));
chartcpu1.draw(datac1, options1cpu);

var chartmem1 = new google.visualization.AreaChart(document.getElementById('chartmem1_div'));
chartmem1.draw(datam1, options1mem);
}
</script>










</body>

</html>
