<html>

<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="css/roboto.min.css" rel="stylesheet">
    <link href="css/material.min.css" rel="stylesheet">
    <link href="css/ripples.min.css" rel="stylesheet">

</head>

<body>

    <!-- Your site -->
    <div class="navbar navbar-material-blue">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">GARFIELD</a>
        </div>

    </div>

    <div class="container">
      <!-- Example row of columns -->
      <br />
      <br />
      <br />
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
           <div class="panel panel-default">
            <div class="panel-heading">LOGIN HEAR WITH PROOT</div>
            <div class="panel-body">
               <fieldset>
                   <div class="form-group">
                    <label for="inputEmail" class="col-lg-4 control-label">LOGIN ID</label>
                    <div class="col-lg-8">
                        <input type="email" class="form-control" id="inputEmail" placeholder="PROOT ID">
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-4 control-label">PASSWORD</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="inputEmail" placeholder="PASSWORD">
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default">Cancel</button>
                        <a href="home" class="btn btn-primary">LOGIN</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
</div>
</div>


<!-- Your site ends -->

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="js/ripples.min.js"></script>
<script src="js/material.min.js"></script>
<script>
    $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
</script>

</body>

</html>
