<!DOCTYPE html>	
<html>
    <head>
	    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="css/roboto.min.css" rel="stylesheet">
    <link href="css/material.min.css" rel="stylesheet">
    <link href="css/ripples.min.css" rel="stylesheet">


		<!-- Latest compiled and minified JavaScript -->
		
		<style type="text/css">
.hide{  display: none;}
.navbar {
    margin-bottom: 0px;
}	
		</style>
		<script type="text/javascript">

				function progress(){
					$("#progressdiv").removeClass("hide");
					setTimeout(progressAddClass, 30000000);
				}

				function progressAddClass(){
					$("#progressdiv").addClass("hide");
					$("#alertok").removeClass("hide");
					
				}
		</script>
    </head>
	<title>Release</title>
<body>
      
   <div class="navbar navbar-material-blue">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
       <a class="navbar-brand" href="homet=s">GARFIELD</a>
                    <img width="80" height="50" alt="server" src="../dist/img/garfieldcat.png">
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">

        </ul>
       
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">LOG OUT</a></li>
         
        </ul>
    </div>
</div>
	 <!-- Your site -->


<div id="progressdiv" class="progress progress-striped active hide" style="height: 8px;">
  <div class="progress-bar" style="width: 100%; background-color: #4CAF50; "></div>
</div>
	 <div class="row" align="center">
		<div class="panel panel-default"   	style="width:550px; height:690px;  background-color: #ffffff;padding: 50px;">
	<div id="input"   style="display: block;">
				<h2>Release</h2>

				<div id="alertok" class="alert alert-dismissable alert-success hide">
    				<button type="button" class="close" data-dismiss="alert">×</button>
    				<strong>Successfully Released.</strong>
				</div>
				<br/>
				<br/>
				<select class="form-control" placeholder="Application Name" style="width:300px;">
					<option value="Donut" selected>AVATAR</option>
					<option value="Financier">DRAGON</option>
					<option value="Financier">BLUESKY</option>
				</select>
				<br/>
				<input class="form-control" placeholder="Version" type="text" style="width:300px;">
				<br/>
				<select class="form-control" placeholder="Environment" style="width:300px;" value>
					<option value="Donut">Development</option>
					<option value="Financier">Staging</option>
					<option value="Jello" selected>Production</option>
				</select>
				<br/>
				<br/>
				 <table id="zoneTable" class="table" style="align:right;">

  <tr >
	<td class="notopline" style="border-top: 0px solid #ddd;">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">us-east-1</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<th>use1c</th>
						<th>use1d</th>
					</tr>
					<tr>
						<td align="center"><input class="form-control" placeholder="0" type="number" style="width: 60px;" value="3"></td>
						<td align="center"><input class="form-control" placeholder="0" type="number" style="width: 60px;" value="5"></td>
					</tr>
				</table>
			</div>
		</div>
	</td>
	<td style="border-top: 0px solid #ddd;">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">us-west-1</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<th>usw1a</th>
					</tr>
					<tr>
						<td align="center"><input class="form-control" placeholder="0" type="number" style="width: 60px;" value="4"></td>
						
					</tr>
				</table>
			</div>
		</div>
	</td>
	<td style="border-top: 0px solid #ddd;">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">us-west-2</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<th>usw2a</th>

					</tr>
					<tr>
						<td align="center"><input class="form-control" placeholder="0" type="number" style="width: 60px;" value="2"></td>
					</tr>
				</table>
			</div>
		</div>
				</td>
				</tr>
				</table>

				<button id="cancelbtn" class="btn btn-default">Cancel</button>
				<button id="savebtn" class="btn btn-primary" onclick="progress()">Release</button>

		</div>
	</div>
</div>

        <!-- Your site ends -->

   <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="js/ripples.min.js"></script>
<script src="js/material.min.js"></script>
<script>
    $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
</script>


    </body>

</html>